/*
 * Universal style
 */
* {
  margin: 0;
  padding: 0;
}
/**
 * Tag
 */
a {
  text-decoration: none;
}

/**
 * Menu bar
 */
.menu-bar,
.brand,
.main-menu {
  justify-content: space-between;
  display: flex;
}
.menu-bar {
  background-color: #000;
}
.menu-bar a {
  text-shadow: 1px 1px #2b6f1e;
  font-size: 20px;
  color: #fff;
}
.brand-name {
  padding: 15px 20px;
}
.menu-toggler {
  display: none;
}
.main-menu {
  list-style: none;
}
.menu-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
.main-menu > li a {
  width: 90px;
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 15px 10px;
}
.main-menu > li a:after {
  content: "";
  width: 0%;
  position: absolute;
  transition: 0.3s;
  bottom: 0;
  left: 50%;
  height: 3px;
  background-color: #0f0;
}
.main-menu > li a.menu-active:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #0f0;
}
.main-menu > li a:hover:after {
  width: 100%;
  left: 0;
}

.main-menu > li:last-child a {
  padding-right: 20px;
}
.pr-20px {
  padding-right: 20px;
}

/*
 * Header
 */
.slides {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 85vh;
}
.slide {
  width: 100%;
  position: absolute;
  visibility: hidden;
  height: 85vh;
}
.slide > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.slide > .slide-content {
  color: #fff;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.slide > .slide-content,
.slide > .slide-content h1,
.slide > .slide-content p {
  text-align: center;
}
.active {
  visibility: visible;
}

.slide-animation-1 {
  animation: slide-animation-1 25s ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes slide-animation-1 {
  0% {
    transform: translate(-100%);
    visibility: hidden;
  }
  25% {
    transform: translate(0%);
    visibility: visible;
  }
  50% {
    transform: translateY(100%);
    visibility: hidden;
  }
  75% {
    transform: translateY(100%);
    visibility: hidden;
  }
  100% {
    transform: translateY(100%);
    visibility: hidden;
  }
}

.slide-animation-2 {
  animation: slide-animation-2 25s ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes slide-animation-2 {
  0% {
    transform: translateY(-100%);
    visibility: hidden;
  }
  25% {
    transform: translateY(-100%);
    visibility: hidden;
  }
  50% {
    transform: translateY(0%);
    visibility: visible;
  }
  75% {
    transform: translate(-100%);
    visibility: hidden;
  }
  100% {
    transform: translate(-100%);
    visibility: hidden;
  }
}

.slide-animation-3 {
  animation: slide-animation-3 25s ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes slide-animation-3 {
  0% {
    transform: translate(100%);
    visibility: hidden;
  }
  25% {
    transform: translate(100%);
    visibility: hidden;
  }
  50% {
    transform: translate(100%);
    visibility: hidden;
  }
  75% {
    transform: translate(0%);
    visibility: visible;
  }
  100% {
    transform: translateY(-100%);
    visibility: hidden;
  }
}

.slide-animation-4 {
  animation: slide-animation-4 25s ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes slide-animation-4 {
  0% {
    visibility: visible;
    transform: translate(0%);
  }
  25% {
    transform: translate(100%);
    visibility: hidden;
  }
  50% {
    visibility: hidden;
    transform: translateY(100%);
  }
  75% {
    visibility: hidden;
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
    visibility: visible;
  }
}

/** common style**/
.box {
  border: 1px solid #ccc;
  padding: 5%;
  box-shadow: 2px 2px 5px #ccc;
}

/**About setion**/
.about {
  margin: auto;
  margin-top: 25px;
  width: 80%;
}
.about > h2 {
  margin-bottom: 10px;
  font-size: 35px;
}
.about > p {
  text-align: justify;
  line-height: 30px;
  font-size: 19px;
  margin-bottom: 10px;
}
/**tour section**/
.tour {
  margin-top: 20px;
  padding: 20px 5%;
}
.tour > h2 {
  font-size: 36px;
  text-align: center;
}
.tour-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}
.tour-cards > .card {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
  padding: 10px;
  width: 20%;
  margin: 10px auto auto;
}
/**event section**/
.event {
  margin-top: 20px;
  padding: 20px 5%;
  background-color: #000;
  color: #fff;
}
.event > h2 {
  font-size: 36px;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}
.cards > .card {
  padding: 10px;
  width: 23%;
  margin: auto;
  border: none;
}
.card > h4,
.card > p,
.card > button {
  margin-top: 5px;
}
.card > h4 {
  color: #c73904;
  font-size: 21px;
}
.card > button {
  display: inline-block;
  padding: 8px;
  font-size: 16px;
  color: #fff;
  background-color: #0f0;
  border: 1px solid #0f0;
  white-space: nowrap;
}
/**gallery section**/
.gallery {
  margin-top: 15px;
}
.gallery > h2 {
  font-size: 36px;
  text-align: center;
}
.gallery .cards {
  justify-content: center;
}
.cards > .image-card {
  width: 30%;
  padding: 1%;
}
.cards > .image-card > img {
  width: 100%;
}
/**contact section**/
.contact-form {
  width: 80%;
  margin: auto;
  margin-top: 10px;
}
.contact-form > h2 {
  font-size: 35px;
}
.form-group {
  margin-top: 10px;
}
.form-control {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  border: 1px solid #888;
  border-radius: 6px;
  box-sizing: border-box;
}
.contact-button {
  width: 25%;
  color: #fff;
  background: #0f0;
  border: aliceblue;
  padding: 12px;
  margin-top: 10px;
  border-radius: 6px;
  font-size: 20px;
}
/**Footer section**/
footer {
  padding: 10px;
  margin-top: 25px;
  background-color: #000;
  color: #fff;
}
footer > div {
  text-align: center;
  padding: 20px;
}
footer > div > i {
  margin-left: 25px;
}
.fa-2x {
  font-size: 1.5em;
}
footer > div > i:first-of-type {
  margin-left: 0px;
}
footer > div > p {
  line-height: 20px;
}
/**show button**/
.show-more {
  display: block;
  padding: 9px;
  margin: 10px auto;
  width: 188px;
  font-weight: bold;
  text-shadow: 0 0 black;
  background-color: #fff;
  color: #c73905;
  font-size: 16px;
  border: 2px solid #c73905;
}
.show-more:hover {
  background-color: #0f0;
}
